@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
* {
    margin: 0;
    font-family: Poppins, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  /* NAVEGATION */
header {
    height: 9.5vh;
    background: linear-gradient(to right, #000000, #13185a,#ffffff00 );
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white ;
}  
#navegation ul {
    list-style: none;
    display: flex;
    column-gap: 3rem;
}
#navegation a {
    color: white;
    text-decoration: none;
}
#navegation a:hover{
    border-bottom: white solid 1px;
    
}
#slogan {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
}
/* VIDEO */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#main_form {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .content {
    height: 60%;
    width: 30%;
    background-color: #1c0c39;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }
  
  .content h1 {
    color: white;
    margin: 2rem ;
    font-size: 2.2rem;
  }
  
  input {
    width: 75%;
    border: none;
    height: 3.5vh;
    background-color: #1E1D20;
    border-radius: 20px;
    padding: 0.2rem 0 0.2rem 1.5rem;
    color: #fff;
    font-size: 1rem;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  
  #email {
    margin-bottom: 1rem;
  }
  
  #forgotPassword {
    color: #5e5d5d;
    font-size: 0.8rem;
  }
  
  #forgotPassword:hover {
    text-decoration: underline;
    color: #2e17f780;
    cursor: pointer;
  }
  
  #submitButton {
    margin-top: 2.5rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    padding: 0.7rem 4rem;
    border: none;
    border-radius: 20px;
    color: #24202B;
  }
  
  #submitButton:hover {
    background-color: #aaaaaa;
    cursor: pointer;
  }
  
  #or {
    color: #fff;
    margin: 0.5rem 0;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
  
  #googleButton {
    background-color: #DB4437;
    border: none;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 0.5rem;
  }
  
  #googleButton:hover {
    cursor: pointer;
    background-color: #912015;
  }
  
  .content .fa-brands {
    font-size: 2rem;
  }
  
  #githubButton {
    background-color: #171618;
    border: none;
    font-size: 1rem;
    padding: 0.7rem 0;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 0.5rem;
  }
  
  #githubButton:hover {
    cursor: pointer;
    background-color: #0a0a0a;
  }
  
  @media only screen and (max-width: 1650px) {
    .buttons {
      width: 60%;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .content {
      width: 40%;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .content {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 850px) {
    .content {
      width: 60%;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .content {
      width: 70%
    }
  }
  
  @media only screen and (max-width: 600px) {
    .content {
      width: 80%;
      height: 70%
    }
  }
  
  @media only screen and (max-width: 500px) {
    .content {
      width: 90%;
    }
  
    .buttons {
      width: 70%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .buttons {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 340px) {
    .buttons {
      width: 90%;
    }
  
    #headerLogo {
      margin: 0;
    }
  
    header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }