@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
font-family: 'Share Tech Mono', monospace;
}
body {   
    color: white;
    background-color: #491bbe;
}
.container {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #000000, #13185a,#ffffff00 );
}
/* NAVEGATION */
header {
    height: 9.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white ;
}  
#navegation ul {
    list-style: none;
    display: flex;
    column-gap: 3rem;
}
#navegation a {
    color: white;
    text-decoration: none;
}
#navegation a:hover{
    border-bottom: white solid 1px;
    
}
#slogan {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Major Mono Display', monospace;
}
/* Botões de login / registro */

.top-section-right,.top-section-right-btn-entrar > .btn,.top-section-right > .top-section-right-border-btn > .btn {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 600;
    padding: 7px;
    color: white;
    background-color: #fafafa00;
    border-radius: 0.7rem;
    border: none;
    transition: 0.5s;
}
.top-section-right > .top-section-right-btn-entrar{
    display: inline;
}
.top-section-right > .top-section-right-border-btn{
    display: inline;
    padding-right: 10px;
    border-right: white solid 1px;
}
.top-section-right > .entrar{
    margin-left: 4rem;
}
.top-section-right, .top-section-right-btn-entrar > .btn:hover,.top-section-right > .top-section-right-border-btn > .btn:hover{
    cursor: pointer;
    scale: 1.1;
}
.top-section-right-btn-entrar > .btn:hover,.top-section-right-border-btn > .btn:hover{
    color: white;
    border: white solid 1px;
}
/* PROJETOS */
/* #projetos {
    display: flex;
    width: 10%;
}
#codegenius{
    display: flex;
    justify-content: end;
}
#codegenius p {
    padding: 4rem;
}
#codegenius img {
    padding-left: 4rem;
} */