@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


:root{
font-family: 'Share Tech Mono', monospace;
}
body {
    background: fixed;
    background-color: #240d56;
}
header {
    height: 9vh;
    background-color:#fafafa00;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white ;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}  
#navegation ul {
    list-style: none;
    display: flex;
    column-gap: 3rem;
}
#navegation a {
    color: white;
    text-decoration: none;
}
#navegation a:hover{
    border-bottom: white solid 1px;
    
}
.top-section-right,.top-section-right-btn-entrar > .btn,.top-section-right > .top-section-right-border-btn > .btn {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 600;
    padding: 7px;
    border-radius: 0.7rem;
    border: none;
    transition: 0.5s;
}
.top-section-right > .top-section-right-btn-entrar{
    display: inline;
}
.top-section-right > .top-section-right-border-btn{
    display: inline;
    padding-right: 10px;
    border-right: white solid 1px;
}
.top-section-right > .entrar{
    margin-left: .4rem;
}
.top-section-right, .top-section-right-btn-entrar > .btn:hover,.top-section-right > .top-section-right-border-btn > .btn:hover{
    cursor: pointer;
    scale: 1.1;
}
#intro {
    display: flex;
}
#textdescrition h1{
    color: white;
    font-size: 10px;
    margin-left: 10px;
    font-size: 20px;
}
#slogan {
    color: white;
    font-size: 50px;
    font-family: 'Major Mono Display', monospace;
}